* {
	position: relative;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	background-image: url('../images/psychic.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	padding: 20px;
	border: solid;
	border-style: double;
}

h1 {
	font-family: "Arial", "sans-serif";
	font-size: 35px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	color: #F3E30BFF;
	text-shadow: -1px 0 red;
}

.message {
	font-family: "Arial", "sans-serif";
	font-size: 20px;
	text-align: center;
	padding: 20px;
}

.container {
	/*width: 1120px;*/
	width: 90%;
	max-height: 100%;
	margin-bottom: 20px;
}

.container:after {
	content: "";
	display: block;
}

.leftSection {
	width: 400px;
	/*background-color: #C0C0C0FF;*/
	margin-left: 10%;
	padding: 40px;
/*	animation-name: spin;
	animation-duration: 5s;
	animation-iteration-count: infinite;*/
}

.rotate {
	position: absolute;
	width: 400px;
	height: 320px;
	top: 20px;
	left: 10px;	
	background-color: #FF8400FF;
	opacity: 0.6;
	animation-name: spin;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

.rightSection {
    position: absolute;
    width: 400px;
    height: 100%;
    top: 0;
    right: 0;
    /*background: #C0C0C0FF;*/
    padding-top: 50px;
    text-align: center;
    font-family: 'Arial', 'sans-serif';
    font-size: 30px;
}

.tally {
	width: 80%;
	text-align: center;
	font-size: 35px;
	font-family: 'Arial', 'sans-serif';
	padding: 20px;
	margin: 0 auto;
	background-color: #A0A0A0FF;
	margin-bottom: 20px;
	z-index: 999;
}

#guesses {
	color: yellow;
}

.guesses {
	z-index: 999;
}

.footer {
	position: fixed;
	height: 120px;
	width: 100%;
	color: white;
	bottom: 0;
	background-color: rgba(64, 64, 64, 0.6);
	padding: 50px;
	text-align: center;
}

@keyframes spin {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}